.plumbers{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.plumbers_info{
    transition: padding 1.3s;
}
.plumber_img{
    width: 22vw;
    aspect-ratio: 1/0.7;
    border-radius: 10px;
    transition: transform 1.3s;
}
.plumber_img:hover{
    transform: scaleY(1.2);
}
/* .plumbers_info:hover{
    border: 2px solid #d3e87d;
    border-radius: 10px;
    padding: 10px;
} */