.plumbers_services{
    margin-top: 15%;
}
.plumbers{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.plumbers_info{
    transition: padding 1.3s;
}
.plumber_img{
    width: 22vw;
    aspect-ratio: 1/0.7;
    border-radius: 10px;
    transition: transform 1.3s;
}
.plumber_img:hover{
    transform: scaleY(1.2);
}
@media screen and (min-width : 480px) {
    .plumbers_services{
        margin: auto;
    }
    .plumbers{
        flex-direction: row;
    }
}