#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: aqua; */
}
.contact-img{
    border-radius: 12px;
    max-width: 100%;
    display: none;
}
.message-us{
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* align-items: center;
    justify-content:center; */
}
.inputbox{
    margin-bottom: 50px;
    width: 100%;
    position: relative;
    background-color: var(--lightgreen);
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: black;
}
.submit-btn{
    margin-top: 50px;
    background-color: hsl(0, 9%, 9%);
    color: white;
}
.textareabox{
    width: 100%;
    background-color: var(--lightgreen);
    border-radius: 20px 0 20px 0;
    border: none;
    padding: 10px;
}
::placeholder{
    color: black;
}
@media screen and (max-width: 480px){
    .contact-img{
        width: 100%;
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 1200px){
    .contact_form{
        grid-template-columns: 1fr 1fr;
    }
    .contact-img{
        display: block;
    }
    .inputbox{
        width: 50%;
    }
    .textareabox{
        width: 50%;
    }
}