nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    background:hsl(0, 9%, 9%);
    color: white;
    width: calc(90% - 40px);
    border-radius: 20px;
    padding:0  20px;
    top: 8px;
}
.logo{
    cursor: pointer;
    color: white;
}
.hamburger{
    width: 50px;
    display: none;
}
.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
   
}
nav li{
    font-weight: 500;
    cursor: pointer;
}
li:hover{
    background:var(--lightgreen);
    border-radius:12px ;
    padding: 2px 5px;
    border-radius: 5px;
    color: black;
    transition: padding 1s;
}
.search-icon{
    display: flex;
    align-items: center;
}
.signin{
    background-color: #d3e87d;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: 600;
}
@media screen and (max-width: 480px){
    nav{
        width: 90%;
        flex-direction: column;
        height: fit-content;
        padding:1px 5px;
        justify-content: center;
        z-index: 2;
    }
    .logo{
        margin-right: 60px;
    }
    .nav-header{
        display: flex;
        align-items: center;
    }
    .hamburger{
        margin-left: 80px;
        display: block;
    }
    .hamburger span{
        background-color: white;
        width: 25px;
        height: 3px;
        display: flex;
        flex-direction: column;
        margin-top: 3px;
    }
    .nav-links ul{
        flex-direction: column;
        justify-content: center;
        height: 85vh;
    }
    .open{
        display: none;
    }
}